body {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #FFFFFF;
}

#header {
	background: #BBDDEE;
	width: 100%;
	height: 2em;
	font-size: 1em;
	text-align: center;
	color: #FFFFFF;
	border-radius: 10px;
}

.sketch {
	display: inline;
	width:200px;
	float: left;
	background: #CCEEFF;
	border-radius: 10px;
	padding: 0.5em;
	margin: 0.4em 0.4em 0 0;
  
}

.sketch-thumbnail {
	width: 100%;
	min-width: 200px;
	height: auto;
	margin: 0.5em 0;
}

.sketch-title {
	width: 100%;
	font-weight: bold;
}

.sketch-description {
	width: 100%;
	font-size: 0.7em;
}
