.App {
	background-color: #282c34;
	text-align: left;
	color: white;
}

.Gallery {
	background: #DDDDDD;
}

.Card {
	background: #282c34;
	display: flex;
	width: 20%;
	margin: 0 auto 20px auto;
	padding: 20px;
	border-left: 1px #BBBBBB solid;
	border-bottom: 1px #BBBBBB solid;
	
}

.metadata .title{
	font-weight: bold;
	font-size: calc(10px + 5vmin);
	margin: 5px 0 5px 0;
}

.metadata .description{
	color: #BBBBBB;
	font-size: calc(10px + 1vmin);
	margin: 0 0 10px 0;
}

.metadata .difficulty{
	text-align: right;
}


